.filterBox {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 330px;
  position: relative;
}

.radioBtn {
  margin-bottom: 20px;
  margin-top: 10px;
}

.btnColor span {
  font-size: 12px !important;
}

.header {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.1;
}

.filterBtn {
  margin-top: 20px;
}
